
/70-515/UserRegistrationSimulation/bin
/70-515/UserRegistrationSimulation/obj
/70-515/UserRegistrationSimulation/UserRegistrationSimulation.csproj.user
/70-515/UserRegistrationSimulation/UserRegistrationSimulation.suo
/70-515/MyWebParts/App_Data/ASPNETDB.MDF
/70-515/MyWebParts/App_Data/aspnetdb_log.ldf
/70-515/GlobalSite/App_LocalResources/Default.aspx.af-ZA.resx
/70-515/GlobalSite/App_LocalResources/Default.aspx.am-ET.resx
/70-515/GlobalSite/App_LocalResources/Default.aspx.arn-CL.resx